.content
    position: relative;
    width: 100%;
    z-index: 100;

    h1
        color: white;
        text-align: center;
        font-size: 1.8em;
        font-weight: 300;
        margin: 0 0 1.5em;

.product-container
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
