/*
   Colors
   ========================================================================== */

bg-color = #efefef
t-gray = #858789
white = #FFFFFF
black = #000000
form-error-color = black
spinner-default-color = black
form-focus-color = #9DBFF6
gray-bg = #efefef
main-color = #e28122
