/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Exo+2:300&subset=cyrillic');

@font-face {
    font-family: 'TrebuchetMS';
    src: url('/media/fonts/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS') format('svg'),
         url('/media/fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype'),
         url('/media/fonts/TrebuchetMS/TrebuchetMS.woff') format('woff');
    src: url('/media/fonts/TrebuchetMS/trebuc.eot');
    src: url('/media/fonts/TrebuchetMS/trebuc.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/TrebuchetMS/trebuc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS-Bold';
    src: url('/media/fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg'),
         url('/media/fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.ttf') format('truetype'),
         url('/media/fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.woff') format('woff');
    src: url('/media/fonts/TrebuchetMS-Bold/trebucbd.eot');
    src: url('/media/fonts/TrebuchetMS-Bold/trebucbd.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/TrebuchetMS-Bold/trebucbd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

ff-default = 'Exo 2', sans-serif
ff-T = 'TrebuchetMS', sans-serif
ff-TB = 'TrebuchetMS-Bold', sans-serif
fs-default = 20px

/* Colors */

white = #FFFFFF
black = #000000
c-default = #1698d9
c-selected = #d91667
c-disabled = #b3b3b3
c-title = #666666
c-footnote-dis = #ffff66
